<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <link rel="stylesheet" href="./src/style/style.css">
   <link rel="stylesheet" href="./vendor/bootstrap/bootstrap.min.css">
  <title>Список заданий</title>
</head>
<body>
<div class="container col-sm-6 col-sm-offset-3 col-xs-12" id="block">
  <h1 class="text-center">TodoList</h1>
  <form id="todoForm">
    <div class="input-group">
      <input type="text" class="form-control" id="todoFormText">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="todoFormAdd">Добавить</button>
        </span>
    </div>
  </form>
  <br>
  <div class="btn-group btn-group-justified" id="nav">
    <div class="btn-group">
      <a href="/#" role="button" class="btn btn-default" id="all">All</a>
    </div>
    <div class="btn-group">
      <a href="/#/active" role="button" class="btn btn-default" id="active">Active</a>
    </div>
    <div class="btn-group">
      <a href="/#/completed" role="button" class="btn btn-default" id="completed">Completed</a>
    </div>
  </div>
  <br>
  <div id="todoContainer">
    <div class="list-group" id="todoList">
    </div>
  </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/bootstrap.min.js"></script>
<script src="./vendor/notify/notify.min.js"></script>
<script src="./vendor/underscore/underscore.js"></script>
<script src="./vendor/backbone/backbone.js"></script>
<script src="./src/script/TodoStorage.js"></script>
<script src="./src/script/Model/todo.model.js"></script>
<script src="./src/script/Collection/todos.collection.js"></script>
<script src="./src/script/View/todo.view.js"></script>
<script src="./src/script/Router/todo.router.js"></script>
<script src="./src/script/main.js"></script>
<script id="template" type="text/template">
    <label class="list-group-item" id="<%= id %>" data-status="<%= status %>">
      <input type="checkbox" class="todoCheckboxItem" id="<%= id %>" <%= check %>>
      <%= title %>
      <span class="close todoRemoveItem" data-id="<%= id %>">x</span>
    </label>
</script>
</body>
</html>